<h1>Editing User #<%= @user.id %></h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
<% end %>

<%= form_for @user do |f| %>

  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username, @user.username %>
  </div>

  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, @user.first_name %>
  </div>

  <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, @user.last_name %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= password_field :password, @user.password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= password_field :password_confirmation, @user.password_confirmation %>
  </div>

  <div>
    <%= f.label :facebook_access_token %><br />
    <%= f.text_field :facebook_access_token, @user.facebook_access_token %>
  </div>

  <div>
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id, @user.facebook_id %>
  </div>


  <div>
    <%= f.submit %>
  </div>

<% end %>
